<html lang="en">

<head>
  <title>Internal Server Error</title>
  <meta charset="UTF-8" />
  <link href="/static/templates/static/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <style>
    img {
      pointer-events: none;
      user-select: none;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  </style>
</head>

<body style="background: white">
  <div>
    <img class="selectDisable center" style="
          max-width: 100%;
          max-height: 100vh;
          height: auto;
          overflow: hidden;
        " src="/static/templates/static/images/error.webp" alt="Internal Server Error" />
  </div>
</body>

</html>
