{{template "base.html" .}} {{define "title"}}Patient{{end}} {{define "content"}}
<style>
  table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  th,
  td {
    text-align: left;
    padding: 6px;
  }

  th {
    background-color: #003060;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #bfd7ed;
  }

  /* Pagination links */
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }

  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }

  button {
    background-color: #003060;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
  }
</style>
{{template "admin-navbar.html" .}}
<br />
<br />
<center>
  <div class="search-container">
    <form method="post">
      {{ .Csrf.csrfField }}
      <input style="width: 50%; height: 40px" type="text" placeholder="filter by name:test" name="Search" />
      <button type="submit">Filter</button>
    </form>
  </div>
</center>
<table>
  <caption>
    Patient
  </caption>
  <tr>
    <th>PatientId</th>
    <th>Username</th>
    <th>Full name</th>
    <th>Email</th>
    <th>Dob</th>
    <th>Contact</th>
    <th>Bloodgroup</th>
    <th>Child</th>
    <th>Action</th>
    <th>Purge</th>
  </tr>
  {{if .Patient}} {{range $a :=.Patient}}

  <tr>
    <td>{{$a.Patientid}}</td>
    <td>{{$a.Username}}</td>
    <td>{{$a.Full_name}}</td>
    <td>{{$a.Email}}</td>
    <td>{{ $a.Dob.Format "2006-01-02 15:04:05"}}</td>
    <td>{{$a.Contact}}</td>
    <td>{{$a.Bloodgroup}}</td>
    <td>{{$a.Ischild}}</td>
    <td>
      <button type="submit">
        <a href="/admin/update/patient/{{$a.Patientid}}">Edit</a>
      </button>
    </td>
    <td>
      <button type="submit">
        <a href="/admin/delete/patient/{{$a.Patientid}}">Delete</a>
      </button>
    </td>

    {{end}} {{else}}
    <td style="color: black">No appointment Available.</td>
    {{end}}
  </tr>
</table>
<br />
<br />
<div style="display: flex; justify-content: center" class="pagination">
  {{if .Pagination.HasPrev}}
  <a id="start" href="/admin/patient?pageid=1">&lt;</a>
  <a id="prev" href="/admin/patient?pageid={{.Pagination.PrevPage}}">&laquo;</a>
  {{else}}{{end}}
  <a id="current" class="active" href="/admin/patient?pageid={{.Pagination.Page}}">{{.Pagination.Page}}</a>
  {{if .Pagination.HasNext}}
  <a id="next" id="one" href="/admin/patient?pageid={{.Pagination.NextPage}}">&raquo;</a>
  <a id="last" href="/admin/patient?pageid={{.Pagination.LastPage}}">&gt;</a>
  {{else}}
  <!--  <a id="one" href="/admin/records/0">StartPage</a> -->
  {{end}}
</div>
<br />
<br />
<script>
  const queryString = window.location.search
  console.log(queryString)
  const urlParams = new URLSearchParams(queryString)
  const name = urlParams.get('name')
  const base = '/admin/patient?pageid='
  const and = '&'
  const nameconst = 'name='
  let currentpage = {{.Pagination.Page}}
  let prevpage = {{.Pagination.PrevPage}}
  let nextpage = {{.Pagination.NextPage}}
  let lastpage = {{.Pagination.LastPage}}
  let start = document.getElementById('start')
  let prev = document.getElementById('prev')
  let next = document.getElementById('next')
  let last = document.getElementById('last')
  let current = document.getElementById('current')
  if (name) {
    if (start) {
      let startvalue = base + "1" + and + nameconst + name
      start.setAttribute("href", startvalue)
    }
    if (prev) {
      let prevalue = base + prevpage + and + nameconst + name
      prev.setAttribute("href", prevalue)
    }
    if (next) {
      let nextvalue = base + nextpage + and + nameconst + name
      next.setAttribute("href", nextvalue)
    }
    if (last) {
      let lastvalue = base + lastpage + and + nameconst + name
      last.setAttribute("href", lastvalue)
    }
    let currentvalue = base + currentpage + and + nameconst + name
    current.setAttribute("href", currentvalue)
  }
</script>
{{end}}
