<style>
  button:hover {
    opacity: 1;
  }

  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn,
  .deletebtn {
    float: left;
    width: 50%;
  }

  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }

  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }

  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: 30%;
    height: 30%;
    overflow: auto;
    background-color: #003060;
    color: white;
    padding-top: 50px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }

  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: '';
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {

    .cancelbtn,
    .deletebtn {
      width: 100%;
    }
  }

  .success {
    color: green;
  }
</style>
<nav>
  <ul class="menu">
    <li class="logo"><a href="#">Patient Tracker</a></li>

    <!-- <li class="item"><a href="#">Contact</a></li> -->
    {{if .User.Authenticated}}
    <li class="item"><a href="/admin/home">Home</a></li>

    <li class="item"><a href="/admin/records/1">Records</a></li>
    <li class="item"><a href="/admin/reports">Reports</a></li>

    <li class="item"><a href="/admin/appointments/1">Appointments</a></li>

    <li class="item button"><a href="/admin/logout">Log Out</a></li>
    {{else}}
    <li class="item button"><a href="/admin/login">Log In</a></li>
    {{end}}
    <li class="toggle">
      <a href="#">
        <img style="
            width: 48px;
            height: 48px;
            background-color: white;
            border-radius: 28px;
          " src="/static/templates/static/images/menu.png" alt="Hamburger Menu" />
      </a>
    </li>
  </ul>
</nav>
