{{template "base.html" .}} {{define "title"}}Department{{end}} {{define
"content"}}

<style>
  .info {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #003060;
    color: white;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 30px;
  }
</style>
{{template "navbar.html" .}}
<h2 style="color: #003060">Select Department</h2>
<div class="container">
  <!-- <li class="item"><a href="/appointments">appointments</a></li> -->
  {{if .Department}} {{range $a :=.Department}}
  <a href="/department/{{$a.Departmentname}}/doctors">
    <div class="info">
      <p>{{$a.Departmentname}}</p>
      <br />
    </div>
  </a>
  {{end}} {{else}}
  <p>No departments available</p>
  {{end}}
</div>
{{end}}
