<footer class="footer-distributed">
  <div class="footer-right">
    <img
      style="width: 40px; height: 40px; padding: 3px"
      src="/static/templates/static/images/facebook.png"
      alt="facebook"
    />
    <img
      style="width: 40px; height: 40px; padding: 3px"
      src="/static/templates/static/images/instagram.png"
      alt="instagram"
    />
    <img
      style="width: 40px; height: 40px; padding: 3px"
      src="/static/templates/static/images/twitter.png"
      alt="twitter"
    />
    <img
      style="width: 40px; height: 40px; padding: 3px"
      src="/static/templates/static/images/youtube.png"
      alt="youtube"
    />
  </div>

  <div class="footer-left">
    <p class="footer-links">
      <a class="link-1" href="#">Home</a>

      <a href="#">Blog</a>

      <a href="#">Pricing</a>

      <a href="#">About</a>

      <a href="#">Faq</a>

      <a href="#">Contact</a>
    </p>

    <p>Company Name &copy; 2015</p>
  </div>
</footer>
