<style>
  /* Dropdown Button */
  .dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 20px;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    left: -150%;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .user-avatar img {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }

  .success {
    color: green;
  }
</style>

<nav>
  <ul class="menu">
    <li class="logo"><a href="#">Patient Tracker</a></li>

    <!-- <li class="item"><a href="#">Contact</a></li> -->
    {{if .User.Authenticated}}
    <!-- <li class="item button"><a href="#">Log Out</a></li> -->
    <li class="item"><a href="/home">Home</a></li>

    <li class="item"><a href="/records">Records</a></li>

    <li class="item"><a href="/appointments">Appointments</a></li>
    <li class="item"><a href="/doctor?pageid=1">Book appointment</a></li>
    <li class="item">
      <div class="dropdown">
        <div class="user-profile">
          <div class="user-avatar">
            {{if .User.Avatar}}
            <img src="/{{.User.Avatar}}" alt="avatar" />
            {{else}}
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar" />
            {{end}}
          </div>
        </div>
        <div class="dropdown-content">
          <a href="/profile">Profile</a>
          <a href="/logout">Log Out</a>
        </div>
      </div>
    </li>
    {{else}}
    <li class="item button"><a href="#">Log In</a></li>
    <li class="item button secondary"><a href="#">Sign Up</a></li>
    {{end}}
    <li class="toggle">
      <a href="#">
        <img style="
            width: 48px;
            height: 48px;
            background-color: white;
            border-radius: 28px;
          " src="/static/templates/static/images/menu.png" alt="Hamburger Menu" />
      </a>
    </li>
  </ul>
</nav>
