{{template "base.html" .}} {{define "title"}}Reset Password{{end}} {{define
"content"}}

<style type="text/css">
  .error {
    color: red;
  }

  .success {
    color: green;
  }
</style>
{{template "navbar.html" }}
<div class="login-form">
  <center>
    <p class="success">{{.Success}}</p>
  </center>
  <form method="POST" novalidate>
    {{ .Csrf.csrfField }}
    <h1>Login</h1>
    <div class="content">
      {{if .Errors }} {{range $v := .Errors }}
      <p class="error">{{$v}}</p>
      {{end}} {{end}}
      <div class="input-field">
        <input name="Email" type="email" placeholder="Email" autocomplete="nope" />
      </div>
      <div class="input-field">
        <input name="Password" type="password" placeholder="Password" autocomplete="nope" />
      </div>
      <div class="input-field">
        <input name="ConfirmPassword" type="password" placeholder="Confirm Password" autocomplete="nope" />
      </div>
    </div>
    <div class="action">
      <button style="background-color: navy; color: white; border-radius: 10px" type="submit" name="Submit">
        Submit
      </button>
    </div>
  </form>
  <a href="/register" style="color: navy">Don't Have an account?Register</a>
</div>
{{end}}
