{{template "base.html" .}} {{define "title"}}TIckets{{end}} {{define "content"}}
<style>
  table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  th,
  td {
    text-align: left;
    padding: 6px;
  }

  th {
    background-color: #003060;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #bfd7ed;
  }

  button {
    background-color: #003060;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
  }

  }
</style>
{{template "navbar.html" .}}
<br />
<br />
<table>
  <caption>
    Tickets
  </caption>
  <tr>
    <th>TicketId</th>
    <th>PatientEmail</th>
    <th>NurseId</th>
  </tr>
  {{if .Tickets}} {{range $a :=.Tickets}}
  <tr>
    <td>{{$a.Ticketid}}</td>
    <td>{{$a.Patientemail}}</td>
    <td>{{$a.Nurseid}}</td>
    {{end}} {{else}}
    <td style="color: black">No Ticket Available.</td>
    {{end}}
  </tr>
</table>
{{end}}
