{{template "base.html" .}} {{define "title"}}Report{{end}} {{define "content"}}
<style>
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
  }

  table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .hidden {
    display: none;
  }

  th,
  td {
    text-align: left;
    padding: 6px;
  }

  th {
    background-color: #003060;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #bfd7ed;
  }

  button {
    background-color: #003060;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 30px;
  }

  .container-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px 20px;
    margin-left: 10px;
  }

  .tables {
    width: 800px;
    color: #003060;
  }

  .heading {
    width: 800px;
    height: 40px;
    background-color: #003060;
    color: white;
    padding: 10px;
  }

  .info {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-color: #003060;
    color: white;
    text-align: center;
  }
</style>
{{template "admin-navbar.html" .}}
<table id="general-table">
  <caption style="font-weight: bold">
    General Report
  </caption>
  <tr>
    <th>Details</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Appointments</td>
    <td>{{.General.Appointments}}</td>
  </tr>
  <tr>
    <td>Appointments per Doctor</td>
    <td>{{.General.Average_appointment_doc}}</td>
  </tr>
  <tr>
    <td>PatientRecords per Nurse</td>
    <td>{{.General.Average_record_nurse}}</td>
  </tr>
  <tr>
    <td>Total No. Doctors</td>
    <td>{{.General.Doctors}}</td>
  </tr>
  <tr>
    <td>Total No. Nurses</td>
    <td>{{.General.Nurses}}</td>
  </tr>
  <tr>
    <td>Total No. Reports</td>
    <td>{{.General.Report}}</td>
  </tr>
  <tr>
    <td>Total No. Patients</td>
    <td>{{.General.Patient}}</td>
  </tr>
</table>
<label for="report-selector">Select Report:</label>
<select id="report-selector">
  <option value="appointments-table">Appointments</option>
  <option value="records-table">Records</option>
  <option value="doctors-table">Doctors</option>
  <option value="tickets-table">Tickets</option>
  <option value="nurses-table">Nurses</option>
  <option value="patients-table">Patients</option>
  <option value="logs-table">Logs</option>
</select>
<table id="appointments-table" class="hidden">
  <caption style="font-weight: bold">
    Appointments
  </caption>
  <tr>
    <th>AppointmentId</th>
    <th>DoctorId</th>
    <th>UserId</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Approval</th>
  </tr>
  {{if .Appointments}} {{range $a := .Appointments}}

  <tr>
    <td>{{$a.Appointmentid}}</td>
    <td>{{$a.Doctorid}}</td>
    <td>{{$a.Patientid}}</td>
    <td>{{ $a.Appointmentdate.Format "2006-01-02 15:04:05"}}</td>
    <td>{{$a.Duration}}</td>
    <td>{{$a.Approval}}</td>
    {{end}} {{else}}
    <td style="color: black">No appointment Available.</td>
    {{end}}
  </tr>
</table>
<table id="records-table" class="hidden">
  <caption style="font-weight: bold">
    Records
  </caption>
  <tr>
    <th>RecordId</th>
    <th>UserId</th>
    <th>DoctorId</th>
    <th>NurseId</th>
    <th>Date</th>
    <th>Height</th>
    <th>Bp(Bloodpressure)</th>
    <th>Heartrate</th>
    <th>Temperature</th>
    <th>Weight</th>
  </tr>
  {{if .Records}} {{range $a :=.Records}}
  <tr>
    <td>{{$a.Recordid}}</td>
    <td>{{$a.Patienid}}</td>
    <td>{{$a.Doctorid}}</td>
    <td>{{$a.Nurseid}}</td>
    <td>{{ $a.Date.Format "2006-01-02 15:04"}}</td>
    <td>{{$a.Height}}</td>
    <td>{{$a.Bp}}</td>
    <td>{{$a.HeartRate}}</td>
    <td>{{$a.Temperature}}</td>
    <td>{{$a.Weight}}</td>
    {{end}} {{else}}
    <td style="color: black">No Record Available.</td>
    {{end}}
  </tr>
</table>
<table id="doctors-table" class="hidden">
  <caption style="font-weight: bold">
    Doctors
  </caption>
  <tr>
    <th>PhysicianId</th>
    <th>Username</th>
    <th>Full_name</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Departmentname</th>
  </tr>
  {{if .Doctors}} {{range $a :=.Doctors}}

  <tr>
    <td>{{$a.Physicianid}}</td>
    <td>{{$a.Username}}</td>
    <td>{{$a.Full_name}}</td>
    <td>{{ $a.Email}}</td>
    <td>{{$a.Contact}}</td>
    <td>{{$a.Departmentname}}</td>
    {{end}} {{else}}
    <td style="color: black">No Doctors Available.</td>
    {{end}}
  </tr>
</table>
<table id="tickets-table" class="hidden">
  <caption style="font-weight: bold">
    Tickets
  </caption>
  <tr>
    <th>Ticketid</th>
    <th>PatientEmail</th>
    <th>NurseId</th>
  </tr>
  {{if .Tickets}} {{range $a :=.Tickets}}
  <tr>
    <td>{{$a.Ticketid}}</td>
    <td>{{$a.Patientemail}}</td>
    <td>{{$a.Nurseid}}</td>
    {{end}} {{else}}
    <td style="color: black">No Ticket Available.</td>
    {{end}}
  </tr>
</table>
<table id="nurses-table" class="hidden">
  <caption>
    Nurse
  </caption>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Full name</th>
    <th>Email</th>
  </tr>
  {{if .Nurses}} {{range $a :=.Nurses}}

  <tr>
    <td>{{$a.Id}}</td>
    <td>{{$a.Username}}</td>
    <td>{{$a.Full_name}}</td>
    <td>{{$a.Email}}</td>
    {{end}} {{else}}
    <td style="color: black">No appointment Available.</td>
    {{end}}
  </tr>
</table>
<table id="patients-table" class="hidden">
  <caption>
    Patient
  </caption>
  <tr>
    <th>PatientId</th>
    <th>Username</th>
    <th>Full name</th>
    <th>Email</th>
    <th>Dob</th>
    <th>Contact</th>
    <th>Bloodgroup</th>
    <th>Child</th>
  </tr>
  {{if .Patients}} {{range $a :=.Patients}}

  <tr>
    <td>{{$a.Patientid}}</td>
    <td>{{$a.Username}}</td>
    <td>{{$a.Full_name}}</td>
    <td>{{$a.Email}}</td>
    <td>{{ $a.Dob.Format "2006-01-02 15:04:05"}}</td>
    <td>{{$a.Contact}}</td>
    <td>{{$a.Bloodgroup}}</td>
    <td>{{$a.Ischild}}</td>
    {{end}} {{else}}
    <td style="color: black">No appointment Available.</td>
    {{end}}
  </tr>
</table>
<table id="logs-table" class="hidden">
  <caption>
    Logs
  </caption>
  <tr>
    <th>Level</th>
    <th>Timestamp</th>
    <th>Status</th>
    <th>Method</th>
    <th>Message</th>
  </tr>
  {{if .Logs}} {{range $a :=.Logs}}

  <tr>
    <td>{{$a.Level}}</td>
    <td>{{$a.Timestamp}}</td>
    <td>{{$a.Status}}</td>
    <td>{{$a.Method}}</td>
    <td>{{ $a.Message}}</td>
    {{end}} {{else}}
    <td style="color: black">No Logs Available.</td>
    {{end}}
  </tr>
</table>

<script>
  const reportSelector = document.getElementById('report-selector')
  const generalTable = document.getElementById('general-table')
  const tables = document.querySelectorAll('table:not(#general-table)')

  reportSelector.addEventListener('change', () => {
    const selectedTableId = reportSelector.value

    tables.forEach((table) => {
      if (table.id === selectedTableId) {
        table.classList.remove('hidden')
      } else {
        table.classList.add('hidden')
      }
    })
  })
</script>

{{end}}
