<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-family: sans-serif">
  <div style="display: block; margin: auto; max-width: 600px" class="main">
    <h1 style="font-size: 18px; font-weight: bold; margin-top: 20px">
      Reset Password!
    </h1>
    <p>Hope your are enjoying our services.</p>
    <p>
      We are writing you this email to reset your account password {{.Email}}
      click this link to reset password <a href="{{.URL}}">reset</a>.
    </p>
    <p>Thanks,</p>
    <p>The Project Team</p>
  </div>
  <style>
    .main {
      background-color: white;
    }

    a:hover {
      border-left-width: 1em;
      min-height: 2em;
    }
  </style>
</body>

</html>
