{{template "base.html" .}} {{define "title"}}Home{{end}} {{define "content"}}

<style>
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
  }

  table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  th,
  td {
    text-align: left;
    padding: 6px;
  }

  th {
    background-color: #003060;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #bfd7ed;
  }

  button {
    background-color: #003060;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
  }

  /**/
  /* .info:nth-child(even) { */
  /*   background-color: #5cd85a; */
  /* } */

  .info {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-color: #003060;
    color: white;
    text-align: center;
  }
</style>
{{template "staff-navbar.html" .}}
<h1 style="
    padding-left: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  ">
  <span id="date"></span>
</h1>
<br />
<h1 style="
    padding-left: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  ">
  <span id="time"></span>, {{.User.Username}}.
</h1>
<div class="container">
  <div class="info">
    <p>Total No. of Appointments</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>{{len .Apntmt}}</h3>
  </div>
  <div class="info">
    <p>Total No. of Records</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>{{len .Records}}</h3>
  </div>
</div>
<br />
<br />
<br />

<table>
  <caption>
    Appointments
  </caption>
  <tr>
    <th>AppointmentId</th>
    <th>DoctorId</th>
    <th>UserId</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Approval</th>
    <th>Action</th>
  </tr>
  {{if .Apntmt}} {{range $a :=.Apntmt}}

  <tr>
    <td>{{$a.Appointmentid}}</td>
    <td>{{$a.Doctorid}}</td>
    <td>{{$a.Patientid}}</td>
    <td>{{ $a.Appointmentdate.Format "2006-01-02 15:04:05"}}</td>
    <td>{{$a.Duration}}</td>
    <td>{{$a.Approval}}</td>
    <td>
      <button type="submit">
        <a href="/staff/update/appointment/{{$a.Appointmentid}}">Edit</a>
      </button>
    </td>
    {{end}} {{else}}
    <td style="color: black">No appointment Available.</td>
    {{end}}
  </tr>
</table>
<br />
<br />
<table>
  <caption>
    Records
  </caption>
  <tr>
    <th>RecordId</th>
    <th>UserId</th>
    <th>DoctorId</th>
    <th>NurseId</th>
    <th>Date</th>
    <th>Height</th>
    <th>Bp(Bloodpressure)</th>
    <th>Heartrate</th>
    <th>Temperature</th>
    <th>Weight</th>
    <th>Action</th>
  </tr>
  {{if .Records}} {{range $a :=.Records}}
  <tr>
    <td>{{$a.Recordid}}</td>
    <td>{{$a.Patienid}}</td>
    <td>{{$a.Doctorid}}</td>
    <td>{{$a.Nurseid}}</td>
    <td>{{ $a.Date.Format "2006-01-02 15:04"}}</td>
    <td>{{$a.Height}}</td>
    <td>{{$a.Bp}}</td>
    <td>{{$a.HeartRate}}</td>
    <td>{{$a.Temperature}}</td>
    <td>{{$a.Weight}}</td>
    <td>
      <button type="submit">
        <a href="/staff/view/record/{{$a.Recordid}}">view</a>
      </button>
    </td>
    {{end}} {{else}}
    <td style="color: black">No Record Available.</td>
    {{end}}
  </tr>
</table>

<script>
  var today = new Date()
  var curHr = today.getHours()
  var date = today.getDate()
  const months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December',
  ]

  const days = [
    'Sunday',
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thursday',
    'Friday',
    'Saturday',
  ]

  let day = days[today.getDay()]
  let month = months[today.getMonth()]
  document.getElementById('date').innerHTML = String(
    day + ', ' + month + ' ' + date
  )

  if (curHr >= 0 && curHr < 6) {
    document.getElementById('time').innerHTML = 'What are you doing that early?'
  } else if (curHr >= 6 && curHr < 12) {
    document.getElementById('time').innerHTML = 'Good Morning'
  } else if (curHr >= 12 && curHr < 17) {
    document.getElementById('time').innerHTML = 'Good Afternoon'
  } else {
    document.getElementById('time').innerHTML = 'Good Evening'
  }
  var auto_refresh = setInterval(function () {
    var newcontent = 'Refresh nr:' + counter
    $('#divID').html(newcontent)
    counter++
  }, 1000)
</script>
{{end}}
