{{template "base.html" .}} {{define "title"}}Appointments{{end}} {{define
"content"}}
<style>
  table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  th,
  td {
    text-align: left;
    padding: 6px;
  }

  th {
    background-color: #003060;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #bfd7ed;
  }

  /* Pagination links */
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }

  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }

  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    table caption {
      white-space: nowrap;
    }

    thead tr,
    th {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 2px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before {
      content: 'AppointmentId:';
    }

    td:nth-of-type(2):before {
      content: 'DoctorId:';
    }

    td:nth-of-type(3):before {
      content: 'UserId:';
    }

    td:nth-of-type(4):before {
      content: 'Date:';
    }

    td:nth-of-type(5):before {
      content: 'Duration:';
    }

    td:nth-of-type(6):before {
      content: 'Approval:';
    }

    td:nth-of-type(7):before {
      content: 'Action:';
    }
  }

  button {
    background-color: #003060;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
  }
</style>
{{template "staff-navbar.html" .}}
<table>
  <caption>
    Schedule
  </caption>
  <tr>
    <th>ScheduleId</th>
    <th>DoctorId</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Active</th>
    <th>Action</th>
    <th>Purge</th>
  </tr>
  {{if .Schedule}} {{range $a :=.Schedule}}

  <tr>
    <td>{{$a.Scheduleid}}</td>
    <td>{{$a.Doctorid}}</td>
    <td>{{$a.Starttime}}</td>
    <td>{{ $a.Endtime}}</td>
    <td>{{$a.Active}}</td>
    <td>
      <button type="submit">
        <a href="/staff/update/schedule/{{$a.Scheduleid}}">Edit</a>
      </button>
    </td>
    <td>
      <div>
        <button onclick="document.getElementById('id{{$a.Scheduleid}}').style.display='block'">
          Delete
        </button>
        <div id="id{{$a.Scheduleid}}" class="modal">
          <span onclick="document.getElementById('id{{$a.Scheduleid}}').style.display='none'" class="close"
            title="Close Modal">&times;</span>
          <div class="container">
            <h1>Delete Account</h1>
            <p>Are you sure you want to delete this account?</p>
            <div class="clearfix">
              <button onclick="document.getElementById('id{{$a.Scheduleid}}').style.display='none'" type="button"
                class="cancelbtn">
                Cancel
              </button>
              <button class="deletebtn"  type="submit">
                <a href="/staff/delete/schedule/{{$a.Scheduleid}}">Delete</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </td>
    {{end}} {{else}}
    <td style="color: black">No schedules Available.</td>
    {{end}}
  </tr>
</table>
<br />
<br />
<br />
<script>
  {{if .Schedule}} {{range $a :=.Schedule}}
  // Get the modal
  var modal = document.getElementById('id{{$a.Scheduleid}}');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  } 
  {{end}}
  {{end}}
</script>
{{end}}
