<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <link rel="icon" href="YOUR_WEBSITE_ICON_LINK" />
  <base href="" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style></style>
</head>

<body>
  <main>
    <center>
      <br /><br /><br /><br /><br /><br />
      <h1>Welcome!!</h1>
      <p>
        This a simple landing page and I don't know what I'm doing here.But
        will be fixed Later But you can book appointments with our dedicaated
        doctors
      </p>
      <h3><a href="/login">Click here to Login</a></h3>
      <br /><br /><br /><br />
    </center>
  </main>
</body>

</html>
