<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-family: sans-serif; background-color: white">
  <div style="display: block; margin: auto; max-width: 600px" class="main">
    <center>
      <p>Verification Success!!!</p>
      <p>
        You can now go ahead and log in to your account
        <a href="/login">Login</a>
      </p>
    </center>
  </div>
  <!-- Example of invalid for email html/css, will be detected by Mailtrap: -->
  <style>
    .main {
      background-color: white;
    }

    a:hover {
      border-left-width: 1em;
      min-height: 2em;
    }
  </style>
</body>

</html>
